# Xcode
.DS_Store
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserdatad
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
.swiftpm/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html

# macOS
*.swp
.AppleDouble
._*

# Secrets
.env
*.key
*.mobileprovision
